.idea/
/gulpfile.js
/composer.json
/package.json
/package-lock.json
node_modules/
vendor/
dist/application/views/default/css/
dist/application/views/default/js/
dist/application/views/default/img/
dist/application/views/default/fonts/
dist/images/
