$nav-pills-link-active-bg: #DC3545;
$link-color: #DC3545;
$link-hover-color: #4F4F4F;
$primary:    #47BE2E;  /*#fd7e14;*/
$info:    #4C9ED9;
@import "node_modules/bootstrap/scss/bootstrap";

$fa-font-path:  "../fonts";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";


//Прелоадер, пока сайт грузится

.ploader {
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: #fdfdfd;
  z-index: 1050;
}
.ploader:after {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);

  width: 48px;
  height: 48px;
  content: '';
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;

  border: solid 8px #fd7e14;
  border-left-color: transparent;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}


///конец прелоадера

.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
}
input, textarea {outline: none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #FD7E14;
  background: #FD7E14;
}

header .container:first-child{
  border-bottom: 2px solid #BD3C46;
}
header p {
  color: #BD3C46;
}
header {
  margin-bottom: 3rem;
}
.table {
  thead th, td {
    vertical-align: middle;
    //text-align: center;

  }
}
.table td, .table th {
  vertical-align: middle;
  padding-left: 15px;
}
table.exel{
  font-size: .8rem;
}
table.exel i {
  font-size: 1.8rem;
}
table img{
  max-height: 50px;
  max-width: 50px;
  margin: 0 auto;
  display: block;
}
footer {
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: #474747;
  color: #A4A1A1;
}
.spinner {
  width: 20px;
}
.cart-table .row div {
  padding-top: 10px;
  padding-bottom: 10px;
}
#p-contact-error,
.slideparamUp,
#ajax-loader,
#ajax-loader-auth,
.ajax-loader-auth,
#ajax-loader-ask,
#ajax-loader-zakaz,
#ajax-loader-EditPass,
.slidemenuUp,
.concealed,
.error,
.odinakovoe,
.error-message-modal,
.success-message-modal {
  display: none;
}
.admin-link-table{
  visibility: hidden;
}
table.exel tr:hover .admin-link-table{
  visibility: visible;
}
table.exel .admin-link-table i {
  margin-right: 25px;
  font-size: 1.2rem;

}
table.exel div {
  margin-top: 5px;
}
table.exel a:hover{
  text-decoration: none;
}
table.exel a.edit{
  color: green;
}
.order-form{
  background: #F6F6F6;
  border-top: 1px solid #ccc;
  padding: 3.4375rem 0;
  margin-bottom: -5rem;
}
.example {
  font-size: .9rem;
  color: #89929a;
}
.btn-primary {
  color: #fff;
}
header{
  background: #fff;
  z-index:100;
}
.stickytop {
  position:fixed;
  top:0;
  left:0;
  flex: 0 0 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  background: #fff;
  z-index:100;
  margin: 0 !important;
  padding: 1rem 0;
  border-bottom: 1px solid #C5C5C5;


}
.pseudo-link {
  border-bottom-color: -moz-use-text-color;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  cursor: pointer;
  color: $link-color;
}
a.pseudo-link:hover{
  text-decoration: none;
}

.slidemenuUp {
  display: none;
}
.but_title, .but_title_do, .fa-cart-plus, .fa-check-circle {
  cursor:pointer;
}
.but_title:hover, .but_title_do:hover {
  color:#05070A;

}
.nav-catalog a {
  color: #000;
}
.nav-catalog a:hover {
  text-decoration: none;
  color: $link-color;
}

.nav-catalog ul {
  list-style-type: none;
}
.nav-catalog, .nav-catalog>ul {
  padding-left: 0;
  margin-bottom: 30px;
}
.nav-catalog>ul ul{
  padding-left: 25px;
  margin-bottom: 10px;
}
.nav-catalog>ul>li>a {
  font-weight: bold;
}
.but_title, .but_title_do {
  font-family: "Open Sans",Arial,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
}
.mainCat {
  background: #ddd;
}
footer a {
  color: #a4a1a1;
  text-decoration: underline;
}